h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.main-content {
  background-color: #ffffff;
}

.header__link, .home-link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .home-link:hover {
  color: #2196f3;
}
.header__link:focus, .home-link:focus {
  color: #2196f3;
}

.portfolio-list, .qualities-list, .header__nav-links,
.header__contacts {
  list-style: none;
}
.portfolio-list img, .qualities-list img, .header__nav-links img,
.header__contacts img {
  display: block;
}

.section__title {
  color: #212121;
}

.hero__button {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration-timing);
}
.hero__button:hover {
  background-color: #188ce8;
}
.hero__button:focus {
  background-color: #188ce8;
}

.qualitis__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.home-link {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.home-link__label--dark {
  color: #000000;
}
.home-link__label--light {
  color: #ffffff;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover {
  background-color: #2196f3;
}
.social-links__link:focus {
  background-color: #2196f3;
}

.social-links__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header__container,
.header__nav,
.header__nav-links,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: auto;
  color: #212121;
}

.header__home-link {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link:not(.home-link) {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--current {
  color: #2196f3;
  position: relative;
}
.header__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  min-height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 216px;
  margin-right: auto;
  margin-left: auto;
}

.qualities {
  letter-spacing: 0.03em;
}

.qualities-list {
  display: flex;
  justify-content: space-between;
}

.qualities-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.qualities-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.qualities-list__text {
  line-height: 1.71;
}

.qualities-list__title,
.qualities-list__text {
  font-size: 14px;
}

.qualities-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.portfolio {
  padding-top: 0;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
}

.portfolio-list__item {
  position: relative;
}

.portfolio-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */