h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    color: $main-text-color;
    background-color: $body-color;
    font-family: $main-font;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    @extend %title;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.main-content {
    background-color: $first-bg-color;;
}